<html lang="en">

<head>
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="initial-scale=1.0, maximum-scale=1, shrink-to-fit=no, width=device-width" name="viewport" />
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />

	<title>Flipper Zero Shipping Status</title>

	<link href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" rel="stylesheet" />

	<style>
		@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

		body {
			background: black;
			color: white;
			display: flex;
			font-family: "Roboto", Arial, sans-serif;
			height: 100%;
		}

		@media (min-width: 801px) {
			body {
				height: auto;
			}
		}

		.container {
			margin: auto;
			text-align: center;
		}

		.flipper {
			color: #e88004;
		}

		.info {
			color: gray;
		}

		a {
			color: gray;
		}

		a:hover {
			color: #e88004;
			cursor: pointer;
			text-decoration: none;
		}

		.feed-delimiter {
			border-top: 1px solid #7d7d7d70;
			padding-bottom: 1.33em;
		}

		.feed {
			height: 180px;
			margin: auto;
			overflow-y: scroll;
			padding: 0vw 1vw;
			text-align: left;
			width: 400px;
		}

		.feed-post {
			padding-bottom: 1vw;
		}

		.post-date {
			color: gray;
			text-align: right;
		}

		.post-delimeter {
			border-top: 1px solid #7d7d7d70;
			margin: 0 45%;
		}

		.feed-post:last-of-type .post-delimeter {
			display: none;
		}
	</style>
</head>

<body>
	<div class="container">
		<h4 class="info">As of {{ .status.Date.Format "January 02 15:04 MST" }}</h4>
		<h1>We shipped <span class="flipper">{{ .status.Total }}</span> Flippers</h1>
		<h2><span class="flipper">{{ .status.Delivered }}</span> of them have already been delivered</h2>
		<h4 class="info"><a href="https://flipp.dev">Learn more about Flipper Zero</a></h4>
		{{if .feed}}
		<div class="feed-delimiter"></div>
		<div class="feed">
			{{range .feed}}
			<div class="feed-post">
				<div class="post-message">{{.Message | unescape}}</div>
				<div class="post-date">{{.Date.Format "02 Jan 15:04"}}</div>
				<div class="post-delimeter"></div>
			</div>
			{{end}}
		</div>
		{{end}}
	</div>
</body>

</html>
